@import url('https://fonts.googleapis.com/css?family=Noto+Sans:700|Oxygen:700');
@import url('https://fonts.googleapis.com/css?family=Amarante');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');

/*font-family: 'Noto Sans', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Amarante', cursive;
font-family: 'Oswald', sans-serif;*/


.ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0 0 0 ;
    text-align: center;
}

.li {
    display: inline;
    padding: 80px 50px 0 50px;
}

.a {font-family:'Amarante', cursive;
    color: rgba(10,10,10,1);
    font-size: 30px;
    font-style: bold;
    text-shadow: 0 0 30px rgba(255, 180, 99, 1);
    text-decoration: none;
    }

.a:hover{
    color: #FA7535;
}

body {
        /*background-image: url(../img/Background.jpg);*/
  background: url(../img/Background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
    font-family: 'Oxygen', sans-serif;
}

}

.containeri {
    /*background-color: rgba(249,175,99,0.35);*/
    background-color: rgba(1,1,1,0.45);
    min-height: 1000px;
}

.headeri {
    background: url(../img/Header_Image.jpg);
    min-height: 448px;
    z-index: -1;
}

.mainContent {
    background-color: rgba(10, 10, 10, 0.5);
    color: rgba(235,235,235,0.98);
    padding: 15px;
    height: 380px;
}
.socialContent {
    color: rgba(235,235,235,0.98);
}

.spotifyBox {
    
}

.theMargin {
    margin: 10px 0 10px 0;
}

.noPadding {
    padding: 0;
}

.fbPushdown {
    margin: 69px 0 0 0;
}


/*.logo {
    width: 725px;
    height: 355px;
}*/
