@import url('https://fonts.googleapis.com/css?family=Noto+Sans:700|Oxygen:700');
@import url('https://fonts.googleapis.com/css?family=Amarante');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');

/*font-family: 'Noto Sans', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Amarante', cursive;
font-family: 'Oswald', sans-serif;*/

/* Header list */
.ul {
    list-style-type: none;
    margin: 0;
    padding: 30px 0 0 0 ;
    text-align: center;
}

.li {
    display: inline;
    padding: 80px 50px 0 50px;
}

.a {font-family:'Amarante', cursive;
    color: rgba(10,10,10,1);
    font-size: 30px;
    font-style: bold;
    text-shadow: 0 0 30px rgba(255, 180, 99, 1);
    text-shadow: 0 0 20px rgba(255, 180, 99, 1);
    text-decoration: none;
    }

.a:hover{
    color: rgba(235, 235, 235, 0.8);
    text-decoration: none;
}
/* Header list */

body {
        /*background-image: url(../img/Background.jpg);*/
  background: url(../img/Background_blurr.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: rgb(235, 235, 235);
}

h3 {
    font-family: 'Oswald', sans-serif;
    margin: 9px 0 0 0;
    text-align: center;
    color: rgb(235, 235, 235);
}
.containeri {
    /*background-color: rgba(249,175,99,0.35);*/
    background-color: rgba(1,1,1,0.45);
    min-height: 1000px;
    z-index: 1;
    box-shadow: 0 0 100px 80px rgba(0, 0, 0, 0.95);
}

.liveBGContainer {
    background: url(../img/Live_background.jpg) no-repeat center bottom;
    min-height: 1000px;
    z-index: 2;
    box-shadow: 0 0 100px 80px rgba(0, 0, 0, 0.95);
}

.headeri {
    background: url(../img/Header_med.jpg);
    box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.7);
    min-height: 448px;
    z-index: -1;
    background-origin: content-box;
    background-repeat: no-repeat;
}

.mainContent {
    background-color: rgba(10, 10, 10, 0.5);
    color: rgba(235,235,235,0.98);
    padding: 15px;
    height: 380px;
}

.socialContent {
    color: rgba(235,235,235,0.98);
}

.liveContent {
    max-width: 900px;
    background-color: rgba(10, 10, 10, 0.5);
    color: rgba(235,235,235,0.98);
    font-family: 'Oswald', sans-serif;
}

.theShadow {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.7);
}

.theMargin {
    margin: 30px 0 10px 0;
}

.theBiggerMargin {
    margin: 60px 0 10px 0;
}

.leftMargin {
    margin-left: 50px;
}

.noPadding {
    padding: 0;
}

.BandImage {
   max-height: 550px; 
}

.LiveImage {
    max-width: 912px;
}

.albumCovers {
    float: left;
}

.liveContainer {
    max-width: 890px;
    box-shadow: 0 0 30px 8px rgba(0, 0, 0, 0.7);
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(250, 117, 5, 0.15));
    padding: 0 15px 0 35px;
    margin: 60px;
}

.sideMargin {
    margin: 0 10% 0 10%;
}

.SpaceHolder {
    height: 300px;
}

.theBottomBorder {
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: rgba(235,235,235,0.98);
}

.fbPushdown {
    margin: 69px 0 0 0;
}

/* Image Grid band and live page */
ul.rig {
    list-style: none;
    font-size: 0px;
    margin-left: auto; 
    margin-right: auto;
}

ul.rig li {
    display: inline-block;
    padding: 10px;
    margin: 30px 0 2.5% 2.5%;
    font-size: 16px;
    font-size: 1rem;
    vertical-align: top;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

ul.rig li img {
    margin: 0 0 10px;
    height: auto;
    max-width: 100%
}

ul.rig li h2 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    text-align: left;
    margin: 0 0 5px;
    color: rgb(235, 235, 235)
}

ul.rig li h3 {
    font-family: 'Oswald', sans-serif;
    text-align: left;
    color: rgb(235, 235, 235)
}

ul.rig.columns-2 li {
	width: 47.5% 
}

ul.rig.columns-3 li {
    width: 30.83%;
}

ul.rig.columns-4 li {
	width: 22.5%;
}

@media (max-width: 480px) {
    ul.grid-nav li {
        display: block;
        margin: 30px 0 5px;
    }
    ul.grid-nav li a {
        display: block;
    }
    ul.rig li {
        width: 100% !important;
        margin: 30px 0 20px;
    }
}
/*Album page lists */

.albumContainer {
    max-width: 890px;
    height: 290px;
    box-shadow: 0 0 30px 8px rgba(0, 0, 0, 0.7);
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(250, 117, 5, 0.15));
    padding: 1px;
    margin: 30px;
}

ul.rig1 {
    list-style: none;
    font-size: 0px;
    margin-left: auto; 
    margin-right: auto;
}

ul.rig1 li {
    display: inline-block;
    padding: 10px 10px 0 55px;
    margin: 0 0 2.5% 2.5%;
    font-size: 16px;
    font-size: 1rem;
    vertical-align: top;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

ul.rig1 li h2 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    text-align: left;
    margin: 0 0 5px;
    color: rgb(235, 235, 235)
}

ul.rig1 li h3 {
    font-family: 'Oswald', sans-serif;
    text-align: left;
    margin: 30px 0 0 0;
    color: rgb(235, 235, 235)

}

ul.rig1 li h4 {
    font-family: 'Oswald', sans-serif;
    text-align: left;
    color: rgb(235, 235, 235)
}

ul.rig1 li p {
    font-family: 'Oswald', sans-serif;
    text-align: left;
    margin: 0 0 27px 0;
    color: rgb(235, 235, 235)
}

ul.rig.columns-2 li {
	width: 47.5% 
}

ul.rig.columns-3 li {
    width: 30.83%;
}

ul.rig.columns-4 li {
	width: 22.5%;
}

@media (max-width: 480px) {
    ul.grid-nav li {
        display: block;
        margin: 30px 0 5px;
    }
    ul.grid-nav li a {
        display: block;
    }
    ul.rig li {
        width: 100% !important;
        margin: 30px 0 20px;
    }
}

/*.logo {
    width: 725px;
    height: 355px;
}*/
